{% extends 'base.html' %}
{% block content %}
<h2>Añadir proyecto</h2>
<form method="post">
    <label>Nombre del proyecto:<input type="text" name="name" required></label><br>
    <label>Cliente:<input type="text" name="client" required></label><br>
    <label>Fecha límite:<input type="date" name="due_date" required></label><br>
    <label>Prioridad:
        <select name="priority">
            <option value="Alta">Alta</option>
            <option value="Media">Media</option>
            <option value="Baja">Baja</option>
            <option value="Sin prioridad" selected>Sin prioridad</option>
        </select>
    </label><br>
    {% for phase in phases %}
        {% if phase == 'pedidos' %}
            <label>Plazo acopio:<input type="date" name="pedidos"></label><br>
        {% else %}
            <label>{{ phase }} (horas):
                <input type="number" name="{{ phase }}">
            </label><br>
        {% endif %}
    {% endfor %}
    <button type="submit">Guardar</button>
</form>
{% endblock %}
